<!DOCTYPE html>
<html lang="es">

<%- include('header.ejs') %> 

<% peliculas.forEach(peliculas=> { %>
						 
			<a href= <%= "/movies/detail/" + peliculas.id %> >
						<div class="imagenProducto">
							<img src= <%= "/images/images" + peliculas.id +".jpg" %> alt="imagen de producto">
						</div>
						<article  class="infoProducto">
							<h2>Premios<%= " " +peliculas.awards%> </h2>
							<h3> <%= peliculas.release_date %></h3>
							<p><%= peliculas.title %> </p>
						</article>
			</a>
		</section>	
			
	</div>
<% }) %>	

<%- include('footer.ejs') %>
  